<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Edit book</h1>
    <form action="#" th:action="@{/edit/{id}(id=${book.id})}" th:object="${book}" method="post">
        <table>
            <tr>
                <td>Title: <input type="text" th:field="*{title}" /></td>
                <td>Author: <input type="text" th:field="*{author}" /></td>
                <td>Publication Year: <input type="text" th:field="*{publicationYear}" /></td>
                <td>ISBN: <input type="text" th:field="*{isbn}" /></td>
                <td>Price: <input type="text" th:field="*{price}" /></td>
                <td>Category:
                    <select id="category" th:field="*{category}">
                        <option th:each="category : ${categories}" th:value="${category.categoryid}" th:text="${category.name}">
                        </option>
                    </select>
                </td>
                <td><input type="submit" value="Edit Book" /></td>
            </tr>
        </table>
    </form>
</body>

</html>